@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
  }
}

@layer components {
  .container {
    @apply mx-auto;
    max-width: unset;
    width: min(96%, 19.4375rem);
  }

  @media screen(lg) {
    .container {
      width: min(96%, 81.375rem);
    }
  }

  .bg-pentagon{
    @apply bg-no-repeat bg-center;
    background-image: url(/bg-images/bg-pentagon.svg);
    background-size: 14.1875rem 14.1875rem;
  }
}
